/* for Navbar */

.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
}

/* for home page */
/* .home-bg{
    background:linear-gradient(to right, rgb(168, 255, 120), rgb(120, 255, 214))
    ;
   
} */

/* for footer */




