/* for Navbar */

.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
}

/* for home page */
/* .home-bg{
    background: linear-gradient(to bottom, rgb(86, 171, 47), rgb(168, 224, 99));
   
} */

/* for footer */



